header{
    margin-top: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > h3 {
    color: var(--color-primary);
    font-size: 1.6rem;
}

.header a{
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.1s ease-in;
    padding: 10px;
    border-radius: 4px;
}

.header a:hover{
    color: white;
    background-color: black;
}
.header i{
    margin-left:10px ;
}
.search {
    margin-top: 30px;
}

.search input{
    background-color: white;
    border: 1px solid silver;
    color: var(--color-primary);
    outline: none;
    height: 35px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    margin-top: 10px;
}
.search input:focus{
    border: 2px solid var(--color-primary);
}
.search button{
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    padding: 10px;
    font-size: 1rem;
    color: white;
}
.search button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.container{
    margin: 50px 0 40px;
    display: flex;
    justify-content: space-between;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filters {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height:fit-content;
    margin-left: 20px;
}
.filters div{
    display: flex;
    color: var(--color-primary); 
    width: 200px;
    align-items: center;
    margin-bottom: 20px;
}
.filters div p{
    margin-left: 20px;
}
.filters ul{
    margin-top: 20px;
    list-style-type: none;
}
.filters li {
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.filters li:hover{
    color: var(--color-primary);
}

.selected{
    background-color: var(--color-secondary);
    color:var(--color-primary);
    padding: 10px;
    border-radius: 5px;
}
.products{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.product{
    background-color: white;
    width: 250px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.product #rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product #rateStar{
    color: var(--color-warning);
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: var(--color-background);
    padding: 5px;
}
.product #rateUser{
    color: var(--color-error);
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: var(--color-background);
    padding: 5px;
}


.product img{
    width: 220px;
    height: 220px;
    margin: 50px 0 40px;
}
.product h4{
    color: var(--color-primary);
}
.product #price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 10px;
}
.product #price span{
   color: grey;
   font-weight: 600;
}
.product #price button{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
